<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_Slideshow>
            <version>1.1.0</version>
        </MageProfis_Slideshow>
    </modules>

    <adminhtml>
        <translate>
            <modules>
                <MageProfis_Slideshow>
                    <files>
                        <default>MageProfis_Slideshow.csv</default>
                    </files>
                </MageProfis_Slideshow>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <mp_slideshow>
                    <file>mp_slideshow.xml</file>
                </mp_slideshow>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <mp_slideshow>
                <class>MageProfis_Slideshow_Model</class>
                <resourceModel>mp_slideshow_resource</resourceModel>
            </mp_slideshow>
            <mp_slideshow_resource>
                <class>MageProfis_Slideshow_Model_Resource</class>
                <entities>
                    <slideshow>
                        <table>mp_slideshow</table>
                    </slideshow>
                    <store>
                        <table>mp_slideshow_store</table>
                    </store>
                </entities>
            </mp_slideshow_resource>
        </models>
        <resources>
            <mp_slideshow_setup>
                <setup>
                    <module>MageProfis_Slideshow</module>
                    <class>MageProfis_Slideshow_Model_Resource_Setup</class>
                </setup>
            </mp_slideshow_setup>
        </resources>
        <blocks>
            <mp_slideshow>
                <class>MageProfis_Slideshow_Block</class>
            </mp_slideshow>
        </blocks>
        <helpers>
            <mp_slideshow>
                <class>MageProfis_Slideshow_Helper</class>
            </mp_slideshow>
        </helpers>
    </global>

    <default>
        <mp_slideshow>
            <general>
                <enable>1</enable>
                <driver>owl</driver>
                <width>900</width>
                <height>320</height>
                <overlayer>false</overlayer>
                <pause_on_click>false</pause_on_click>
                <portrait>false</portrait>
                <thumbnails>false</thumbnails>
                <bar_position>bottom</bar_position>
                <skin>camera_grey_skin</skin>
                <cols>6</cols>
                <rows>4</rows>
                <pie_diameter>38</pie_diameter>
                <sliced_cols>0</sliced_cols>
                <sliced_rows>0</sliced_rows>
                <time>7000</time>
                <trans_period>1200</trans_period>
                <grid_difference>250</grid_difference>
            </general>
            <effects>
                <fx>random</fx>
                <loader_color>CCCCCC</loader_color>
                <loader_bg_color>222222</loader_bg_color>
                <loader_opacity>0.8</loader_opacity>
                <loader_padding>2</loader_padding>
                <loader_stroke>7</loader_stroke>
            </effects>
        </mp_slideshow>
    </default>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mp_slideshow before="Mage_Adminhtml">MageProfis_Slideshow_Adminhtml</mp_slideshow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
